* {
    margin: 5px 20px;
    padding: 0;
}

body {
    font-family: Verdana, sans-serif;

}

ul {
    list-style: none;
}

video {
    margin: 20px 70px;
}

.container {
    margin: 10px;
    max-width: 800px;
}
.container1, .container2 {
    display: flex;
    padding: 5px;
}
 .box1, .box2 {
    margin-left: 20px;
 }

